<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta CONTENT="no-cache" HTTP-EQUIV="pragma">
    <meta CONTENT="no-store, must-revalidate" HTTP-EQUIV="Cache-Control">
    <meta CONTENT="Wed, 26 Feb 1997 08:21:57 GMT" HTTP-EQUIV="expires">
    <meta CONTENT="0" HTTP-EQUIV="expires">
    <meta charset="UTF-8">
    <meta content="no-referrer" name="referrer"/>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script th:src="@{/js/advanced_search.js}" type="text/javascript"></script>
    <script th:src="@{/js/search.js}" type="text/javascript"></script>
    <script th:src="@{/js/common.js}" type="text/javascript"></script>
    <title>高级搜索</title>
</head>
<body>
<!--/*@thymesVar id="username" type=""*/-->
<table>
    <div th:if="${not #strings.isEmpty(username)}">
        <tr>
            <td>
                <span>你好,<span th:text="${username}"></span></span>
            </td>
            <td><span style="color: white">哈哈哈</span></td>
            <td>
                <a href="/logout" style="color: blue" th:align="right">退出登录</a><br>
            </td>
        </tr>
        <tr>
            <td><span style="color: white">哈哈</span></td>
        </tr>
        <tr>
            <td><span style="color: white">哈哈</span></td>
        </tr>
        <tr>
            <td><span style="color: white">哈哈</span></td>
        </tr>
        <tr>
            <td><span style="color: white">哈哈</span></td>
        </tr>
        <tr>
            <td><span style="color: white">哈哈</span></td>
        </tr>
        <tr>
            <td>
                <a href="/reading_list" style="color: blue">我的书单</a>
            </td>
            <td th:if="${not #strings.isEmpty(username)}">
                <a href="/search" style="color: blue">关键词搜索</a>
            </td>
        </tr>
    </div>
    <tr th:if="${#strings.isEmpty(username)}">
        <td>
            <div>
                <a href="/login" style="color: blue">登录并使用书单功能</a>
            </div>
        </td>
        <td>
            <a href="/search" style="color: blue">关键词搜索</a>
        </td>
    </tr>
    <tr th:if="${not #strings.isEmpty(username)}">
        <td>
            <select id="reading-lists" name="selectedListName" th:object="${readingListsName}">
                <option selected="selected" value="">请选择书单</option>
                <option th:each="readingListName : ${readingListsName}" th:text="${readingListName}"
                        th:value="${readingListName}"></option>
            </select>
        </td>
        <td>
            <input onclick="return addBookToList()" type="submit" value="将选中的书籍加入书单">
        </td>
    </tr>
</table>
<br>
<!--/*@thymesVar id="bookPredicate" type=""*/-->
<form id="predicate" th:object="${bookPredicate}">
    <div>
        <b>不作限制的条件可不填</b>
    </div>
    <div>
        <span>书籍名</span>
        <input th:field="*{title}">
        <button onclick="return postPredicate('0')" type="button">搜索</button>
    </div>
    <div>
        <span>评论数大于等于</span>
        <input th:field="*{commentNum}">
        <span>，小于等于</span>
        <input th:field="*{commentNum1}">
    </div>
    <div>
        <span>类型</span>
        <input th:field="*{brief}">
    </div>
    <div>
        <span>评分大于等于</span>
        <input th:field="*{rating}">
        <span>，小于等于</span>
        <input th:field="*{rating1}">
    </div>
    <div>
        <span>出版商</span>
        <input th:field="*{publisher}">
    </div>
    <div>
        <span>出版年份晚于或等于</span>
        <input th:field="*{pubYear}">
        <span>，早于或等于</span>
        <input th:field="*{pubYear1}">
    </div>
    <div>
        <span>定价大于等于</span>
        <input th:field="*{price}">
        <span>，小于等于</span>
        <input th:field="*{price1}">
    </div>
    <div>
        <span>作者</span>
        <input th:field="*{authors}">
    </div>
</form>
<br>
<div>
    <button onclick="return postPredicate('0')" type="button">上一页</button>
    <button onclick="return postPredicate('1')" type="button">下一页</button>
</div>
<!--/*@thymesVar id="msg" type=""*/-->
<div class="container-fluid p-t-15" id="show-books" th:fragment="show-books-fragment">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header"><h4></h4></div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>
                                    <button onclick="fullCheckSwitch('bookIdToAdd')" type="button">全选/不选</button>
                                </th>
                                <th>封面</th>
                                <th>书籍名</th>
                                <th>作者</th>
                                <th>出版社</th>
                                <th>评论数</th>
                                <th>价格</th>
                                <th>出版日期</th>
                                <th>评分</th>
                            </tr>
                            </thead>
                            <form action="/add-book?from=2" id="add-book-to-list" method="post">
                                <input id="selected-list-name" name="selectedListName" type="hidden">
                                <tbody>
                                <tr th:each="book : ${books}">
                                    <td>
                                        <input name="bookIdToAdd" th:value="${book.bookId}" type="checkbox">
                                    </td>
                                    <td>
                                        <img alt="封面" height="160px" th:src="${book.coverLink}" width="120px"/>
                                    </td>
                                    <td>
                                        <div style="text-align: center">
                                            <a th:href="${book.link}" th:text="${book.title}"></a>
                                        </div>
                                    </td>
                                    <td>
                                        <div align="center" th:text="${book.authors}"></div>
                                    </td>
                                    <td>
                                        <div align="center" th:text="${book.publisher}"></div>
                                    </td>
                                    <td>
                                        <div align="center" th:text="${book.commentNum}"></div>
                                    </td>
                                    <td>
                                        <div align="center" th:text="${book.price}"></div>
                                    </td>
                                    <td>
                                        <div align="center" th:text="${book.pubYear}"></div>
                                    </td>
                                    <td>
                                        <div align="center" th:text="${book.rating}"></div>
                                    </td>
                                </tr>
                                </tbody>
                            </form>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="float: right">
    <button onclick="return backToTop()" type="button">回到顶部</button>
</div>
</body>
</html>