<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>注册</title>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js"></script>
    <script type="text/javascript" th:src="@{/js/register.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
用户名:<br>
<input type="text" name="username" value=""><br>
邮箱:<br>
<input type="text" id="email" name="email" value=""><br>
密码:<br>
<input type="password" name="password" value=""><br>
再输入一次密码:<br>
<input type="password" name="repeatedPassword" value=""><br><br>
<input type="text" name="verificationCode" placeholder="请输入验证码">
<button id="get-verify-code-button" onclick="return getVerifyCode()">发送验证码</button>
<br><br>
<button onclick="return requestRegister()">确定</button>
<p id="prompt" style="color:red"></p>
<!--/*@thymesVar id="msg" type=""*/-->
<p style="color: red" th:text=" ${msg}" th:unless="${#strings.isEmpty(msg)}"></p>
</body>
</html>